<footer style="background-color: #334eac;" class="text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>FinanCIO</h5>
                <p>Transformando la gestión financiera de pequeñas empresas con tecnología innovadora.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="../index.html" class="text-white text-decoration-none">Inicio</a></li>
                    <li><a href="../index.html#quienes-somos" class="text-white text-decoration-none">Quiénes Somos</a></li>
                    <li><a href="../index.html#servicios" class="text-white text-decoration-none">Servicios</a></li>
                    <li><a href="Productos.html" class="text-white text-decoration-none">Productos</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Síguenos</h5>
                <p>Síguenos en nuestras redes sociales para más actualizaciones.</p>
                <div>
                    <a href="#" class="text-white me-3 text-decoration-none">Facebook</a>
                    <a href="#" class="text-white me-3 text-decoration-none">Instagram</a>
                    <a href="#" class="text-white text-decoration-none">LinkedIn</a>
                </div>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            <p class="mb-0">&copy; 2026 FinanCIO. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>