<nav class="navbar navbar-expand-lg" style="background-color: #081f5c;">
    <div class="container">
        <a class="navbar-brand text-white" href="/FinanCIO/index.html">
            <img src="/FinanCIO/media/logos/logo_corto.png" alt="Logo FinanCIO" height="40" class="d-inline-block align-text-top me-2">
            FinanCIO
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/FinanCIO/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/FinanCIO/index.html#quienes-somos">Quiénes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/FinanCIO/index.html#servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/FinanCIO/pages/Productos.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/FinanCIO/pages/Productos.html#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>